{{#if linkable}}
<td><a href="/Update/{{id}}" class="row-link">{{name}}</a></td>
<td><a href="/Update/{{id}}" class="row-link">{{phoneNumber}}</a></td>
{{else}}
<td class="disabled-cell">{{name}}</td>
<td class="disabled-cell">{{phoneNumber}}</td>
{{/if}}